**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv
venv.bak
.env
.megabot_index.json
megabot_memory.db
megabot_memory.db-journal
backups/
media/
.git
.gitignore
.vscode
tests/
