pyyaml
pydantic
websockets
sqlalchemy
psycopg2-binary
pgvector
fastapi
uvicorn
cryptography
aiofiles
aiohttp
firebase-admin
pyjwt
httpx
pyautogui
Pillow
python-xlib
twilio
python-multipart
slack-sdk
discord.py
